<div class="row">
    <div class="col-md-4">
        <img style="max-width: 100%" src="/images/organizers/miro.jpg" title="Miro Svrtan" />
        <p>Miro Svrtan<br /><a href="https://twitter.com/msvrtan">@msvrtan</a></p>
    </div>
    <div class="col-md-4">
        <img style="max-width: 100%" src="/images/organizers/luka.jpg" title="Luka Mužinić" />
        <p>Luka Mužinić<br /><a href="https://twitter.com/lmuzinic">@lmuzinic</a></p>
    </div>
    <div class="col-md-4">
        <img style="max-width: 100%" src="/images/organizers/ivan.jpg" title="Ivan Habunek" />
        <p>Ivan Habunek<br /><a href="https://twitter.com/ihabunek">@ihabunek</a></p>
    </div>
</div>
