<aside class="sidebar">
    <section>
        {% include "next-meetup.html" %}
    </section>

    <hr />

    <section>
        <h4>Follow ZgPHP</h4>
        <div class="social-icons">
            <a class="twitter" href="https://twitter.com/zgphp"></a>
            <a class="facebook" href="https://www.facebook.com/pages/ZgPHP-Meetups/283755581662319"></a>
            <a class="rss" href="/feed.xml"></a>
        </div>
    </section>

    <hr />

    <section>
        <h4>Submit a talk</h4>
        <p>We are always on the lookout for new talks. Prior experience is <b>not</b> a prerequisite. Talks may be given in Croatian or English.</p>
        <a class="btn btn-small btn-default btn-block" href="mailto:zgphpmeetup@gmail.com?subject=Prijava predavanja">Contact us</a>
    </section>

    <hr />

    <section>
        <h4>IRC channel</h4>
        <p>Join us on the <span class="text-primary">#zgphp</span> channel on <a href="http://freenode.net/">freenode.net</a> for some old school socializing.</p>
        <a class="btn btn-small btn-default btn-block" href="http://webchat.freenode.net/?channels=zgphp">Web chat</a>
    </section>
</aside>
